<!-- <!DOCTYPE html>
<html>
<head>
    <title>Experiment Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesMain.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand a" href="#">Floriculture Division, Faculty of Horticulture, SKUAST Kashmir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="https://skuastkashmir.co.in/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://skuastkashmir.co.in/ContactUs.aspx">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://skuastkashmir.co.in/ContactUs.aspx">Contact Us</a>
                <a class="dropdown-item" href="https://www.linkedin.com/in/syed-amaan-88b250226/">Contact Developer</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Login</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled my-lg-0 my-2 my-sm-0 mr-sm-2" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>
 -->



  
          
  
  <!-- <div id="carouselExampleDark" class="carousel carousel-dark slide CarouseL" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div><img class="d-block w-100"  style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 1;" src="pexels-james-wheeler-1487010.jpg" alt="First slide"></div>
      </div>
      
      
      <div class="carousel-item">
        <div><img class="d-block w-100"  style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 0;" src="pexels-siegfried-poepperl-7474927.jpg" alt="First slide"></div>
      </div>
      <div class="carousel-item">
        <div><img class="d-block w-100"  style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 3;" src="pexels-david-kooijman-3591322.jpg" alt="First slide"></div>
      </div>
      <div class="carousel-item">
        <div><img class="d-block w-100"  style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 5;" src="pxfuel.jpg" alt="First slide"></div>
      </div>

      <div class="carousel-item">
        <div><img class="d-block w-100"  style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 5;" src="1693577379922.jpg" alt="Second slide"></div>
      </div>
      <div class="carousel-item">
        <div><img class="d-block w-100" style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 6;" src="1693577460410.jpg" alt="Third slide"></div>
      </div>
      <div class="carousel-item">
        <div><img class="d-block w-100" style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 0;" src="1693577553592.jpg" alt="Third slide"></div>
      </div>
      <div class="carousel-item">
        <div><img class="d-block w-100" style="width: 100%; height: 360px; object-fit: cover; object-position: 100% 5;" src="1693577822858.jpg" alt="Third slide"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
            


  


  <div class="Outer">
            <h1>Select Experiment</h1>
            <div id="Outerr">
            <div  class="FB">
            <form action="/login" method="post">
                <input type="hidden" name="StudentExperiment" value="Student Experiment">

                <div class="buttons">

                <div class="buttons">

                    <button class="raise LLL" type="submit">Student Experiment</button>
                  </div>
                  </div>
            </form>
          </div>
          <div class="SB">
            <form action="/login" method="post">
                <input type="hidden" name="StudentExperiment" value="RCM Project">

                <div class="buttons">

                <div class="buttons">

                    <button class="raise LL" type="submit">RCM Project</button>
                  </div>
                  </div>
            </form>
          </div>
          <div class="TB">
            <form action="/login" method="post">
                <input  id="OO" type="hidden" name="StudentExperiment" value="Externally Funded Project">

                <div class="buttons">

                <div class="buttons">

                    <button class="raise  L" type="submit">Externally Funded Project</button>
                  </div>
                  </div>
            </form>
          </div>
          </div>
        </div>
    
</body> -->

<!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script>
      var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel, {
  interval: 2,
  wrap: true
})
    </script> -->

<!-- </html> -->



<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.js">
    <title>Experiment Selection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesMain.css">
  </head>
  <body>
    
    <div id="particles-js" class="snow"></div>

    <main>
      <!-- <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/64ef8d9a-9202-4543-b838-82f4c7c91ccf" alt="" /> -->
      <div id="carouselExampleDark" class="carousel carousel-dark slide CarouseL" style="border-radius: 100px;" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div><img class="d-block w-100"src="pexels-james-wheeler-1487010.jpg" alt="First slide"></div>
          </div>
          
          
          <div class="carousel-item">
            <div><img class="d-block w-100" src="pexels-siegfried-poepperl-7474927.jpg" alt="First slide"></div>
          </div>
          <div class="carousel-item">
            <div><img class="d-block w-100" src="pexels-david-kooijman-3591322.jpg" alt="First slide"></div>
          </div>
          <div class="carousel-item">
            <div><img class="d-block w-100" src="pxfuel.jpg" alt="First slide"></div>
          </div>
    
          <div class="carousel-item">
            <div><img class="d-block w-100" src="1693577379922.jpg" alt="Second slide"></div>
          </div>
          <div class="carousel-item">
            <div><img class="d-block w-100"src="1693577460410.jpg" alt="Third slide"></div>
          </div>
          <div class="carousel-item">
            <div><img class="d-block w-100"src="1693577553592.jpg" alt="Third slide"></div>
          </div>
          <div class="carousel-item">
            <div><img class="d-block w-100"src="1693577822858.jpg" alt="Third slide"></div>
          </div>
        </div>
        <a style="border-radius: 100px;" class="carousel-control-prev" href="#carouselExampleDark" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a style="border-radius: 100px;" class="carousel-control-next" href="#carouselExampleDark" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
      <div>
          <h1 class="h1Head">Select Experiment</h1>
          <form action="/login" method="post">
              <input type="hidden" name="StudentExperiment" value="Student Experiment">

              <div class="buttons">

              <div class="buttons">

                  <button class="raise LLL" type="submit">Student Experiment</button>
                </div>
                </div>
          </form>
          <form action="/login" method="post">
              <input type="hidden" name="StudentExperiment" value="RCM Project">

              <div class="buttons">

              <div class="buttons">

                  <button class="raise LL" type="submit">RCM Project</button>
                </div>
                </div>
          </form>
          <form action="/login" method="post">
              <input  id="OO" type="hidden" name="StudentExperiment" value="Externally Funded Project">

              <div class="buttons">

              <div class="buttons">

                  <button class="raise  L" type="submit">Externally Funded Project</button>
                </div>
                </div>
          </form>
      </div>
    </main>
  </body>
  <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  <script>
    var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel, {
interval: 2,
wrap: true
})
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.js"></script>
  <script>
    
    particlesJS("particles-js", {
  particles: {
    number: {
      value: 300,
      density: {
        enable: true,
        value_area: 800,
      },
    },
    color: {
      value: "#fff",
    },
    shape: {
      type: "circle",
      stroke: {
        width: 0,
        color: "#000000",
      },
      polygon: {
        nb_sides: 5,
      },
    },
    opacity: {
      value: 1,
      random: false,
      anim: {
        enable: false,
        speed: 1,
        opacity_min: 0.1,
        sync: false,
      },
    },
    size: {
      value: 3,
      random: true,
      anim: {
        enable: false,
      },
    },
    line_linked: {
      enable: false,
    },
    move: {
      enable: true,
      speed: 2,
      direction: "bottom",
      random: false,
      straight: false,
      out_mode: "out",
      bounce: false,
      attract: {
        enable: false,
        rotateX: 600,
        rotateY: 1200,
      },
    },
  },
  retina_detect: true,
});
  </script>
</html>