<!DOCTYPE html>
<html>
<head>
    <title>Experiment Selection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>





<div class="bodyL">
    <div class="login-page">
    <div class="form">
        <h1><%= topic %></h1>
        <form class="login-form" action="/login" method="post">
            <input type="hidden" name="StudentExperiment" value="<%= topic %>"> <!-- Add this line -->
            <input type="text" placeholder="Username" name="username" required />
            <input type="password" placeholder="Password" name="password" required />
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
            <p class="message ErrorN">
                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>
            </p>
            <% if (req.query.error === 'notverified') { %>
                <p class="error-message">Your account has not been verified yet. Please wait for admin approval.</p>
            <% } %>
        </form>
    </div>
</div>
</div>
</body>
</html>
        
